= simple_form_for fitlog do |f|
  .row.g-3
    .col-md-6.mb-2
      %label.form-label{for: 'fitlog_record_at'} 日付
      = f.input :record_at, label: false, as: :date, html5: true,
        input_html: { class: 'form-control', onclick: 'this.showPicker()' }

    .col-md-6.mb-2
      %label.form-label{for: 'fitlog_weight'} 体重 (kg)
      = f.input :weight, label: false,
        input_html: { class: 'form-control' }

    .col-md-6.mb-2
      %label.form-label{for: 'fitlog_body_fat'} 体脂肪率 (%)
      = f.input :body_fat, label: false,
        input_html: { class: 'form-control' }

    .col-md-6.mb-2
      %label.form-label{for: 'fitlog_muscle'} 筋肉量 (kg)
      = f.input :muscle, label: false,
        input_html: { class: 'form-control' }

    .col-md-6.mb-2
      %label.form-label{for: 'fitlog_bmr'} 基礎代謝量 (kcal)
      = f.input :bmr, label: false,
        input_html: { class: 'form-control' }

    .col-md-6.mb-2
      %label.form-label{for: 'fitlog_body_age'} 体内年齢 (歳)
      = f.input :body_age, label: false,
        input_html: { class: 'form-control' }

    .col-12.mb-2
      %label.form-label{for: 'fitlog_memo'} メモ
      = f.input :memo, label: false,
        input_html: { class: 'form-control', style: 'height: 100px' }

  .d-grid.gap-2.d-md-flex.justify-content-md-end.mt-4
    = link_to fitlogs_path, class: 'btn btn-outline-secondary me-md-2' do
      %i.bi.bi-x-lg.me-1
      キャンセル
    = f.button :button, type: 'submit', class: 'btn btn-primary px-4' do
      %i.bi.bi-check-lg.me-1
      記録する
