.container
  - if @fitlog.errors.any?
    %ul
      - @fitlog.errors.full_messages.each do |msg|
        %li= msg

  %h2 記録編集

  = simple_form_for @fitlog do |f|
    = f.input :weight, label: '体重(kg)', input_html: { class: 'form-control' }
    = f.input :body_fat, label: '体脂肪率(%)', input_html: { class: 'form-control' }
    = f.input :muscle, label: '筋肉量(kg)', input_html: { class: 'form-control' }
    = f.input :bmr, label: '基礎代謝量(kcal)', input_html: { class: 'form-control' }
    = f.input :body_age, label: '体内年齢(歳)', input_html: { class: 'form-control' }
    = f.input :memo, label: 'メモ', input_html: { class: 'form-control' }

    = f.button :submit, '更新する', class: 'btn btn-primary mt-3'
    = link_to '削除', fitlog_path(@fitlog), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' }, class: 'btn btn-danger mt-3'
