.container
  %h2.text-center 記録一覧
  .text-end
    = link_to '新規記録', new_fitlog_path, class: 'btn btn-primary mb-3'
  - if @fitlogs.any?
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th.text-nowrap 日付
            %th.text-nowrap 体重(kg)
            %th.text-nowrap 体脂肪率(%)
            %th.text-nowrap 筋肉量(kg)
            %th.text-nowrap 基礎代謝量(kcal)
            %th.text-nowrap 体内年齢(歳)
            %th.text-nowrap{ style: "min-width: 100px;" } メモ
        %tbody
          - @fitlogs.each do |fitlog|
            %tr
              %td= link_to l(fitlog.record_at, format: :short), edit_fitlog_path(fitlog)
              %td= fitlog.weight
              %td= fitlog.body_fat
              %td= fitlog.muscle
              %td= fitlog.bmr
              %td= fitlog.body_age
              %td{ style: "min-width: 100px;" }= fitlog.memo
    = paginate @fitlogs , theme: 'bootstrap-5', previous_label: '前のページ', next_label: '次のページ', nav_class: 'pagination justify-content-center'
  - else
    %p 初めての記録をしてみましょう！

